<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>artistName</key>
		<string>eOneNashVille</string>
		<key>songName</key>
		<string>God will take care of you</string>
		<key>songArtwork</key>
		<string></string>
		<key>albumName</key>
		<string>Amazing God</string>
	</dict>
	<dict>
		<key>artistName</key>
		<string>Pastor Marvin Winans</string>
		<key>songName</key>
		<string>Draw me close to you- Thy will be done - Marvin Winans</string>
		<key>songArtwork</key>
		<string></string>
		<key>albumName</key>
		<string>Your Presence </string>
	</dict>
</array>
</plist>
